name: Release to Staging
on:
  push:
    branches:
      - development
  workflow_dispatch:
jobs:
  setup-build-publish-deploy:
    name: Setup, Build, Publish, and Deploy
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    
    # Configure Docker with Credentials
    - name: Configure Docker
      run: |
        docker login ${{ secrets.REGISTRY_URL }} -u ${{ secrets.REGISTRY_USERNAME }} -p ${{ secrets.REGISTRY_PASSWORD }}
      
    # Build the Docker image
    - name: Set version tag
      id: vars
      run: echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"

    - name: Build and push
      id: docker_build
      uses: docker/build-push-action@v2
      with:
        file: docker/Dockerfile
        push: true
        tags: ${{ secrets.DOCKER_IMAGENAME }}:${{ steps.vars.outputs.sha_short }}

    - name: Deploy to Swarm
      uses: ironhalik/docker-over-ssh-action@v1
      with:
        user: ${{ secrets.SERVER_SSH_USERNAME_STAGING }}
        host: ${{ secrets.SERVER_SSH_HOST_STAGING }}
        key: ${{ secrets.SERVER_SSH_PRIVATEKEY_STAGING }}
        script: |
          cd ${{ secrets.STAGING_WORKDIR }}
          export DOCKER_IMAGE=${{ secrets.DOCKER_IMAGENAME }}:${{ steps.vars.outputs.sha_short }}
          docker stack deploy --compose-file docker-stack-backend.yml ${{ secrets.DOCKER_SERVICE_NAME}}
          docker service ls --filter name=${{ secrets.DOCKER_SERVICE_NAME}} --format "{{.Image}}"
          docker exec $(docker container ls  | grep ${{ secrets.DOCKER_SERVICE_NAME}}| awk '{print $1}') php artisan migrate